In [2]:
import pandas as pd

In [4]:
products = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 6\\products.csv', delimiter=',')
transactions = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 6\\transactions.csv', delimiter=',')
customers = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 6\\customers.csv', delimiter=',')

In [5]:
products.shape

(3287, 3)

In [6]:
products.head()

  id_prod  price  categ
0  0_1421  19.99      0
1  0_1368   5.13      0
2   0_731  17.99      0
3   1_587   4.99      1
4  0_1507   3.99      0

In [8]:
products.describe()

             price        categ
count  3287.000000  3287.000000
mean     21.856641     0.370246
std      29.847908     0.615387
min      -1.000000     0.000000
25%       6.990000     0.000000
50%      13.060000     0.000000
75%      22.990000     1.000000
max     300.000000     2.000000

In [10]:
products.nunique()

id_prod    3287
price      1455
categ         3
dtype: int64

In [13]:
valeurs_uniques = products['categ'].unique()[:3]

print(valeurs_uniques)

[0 1 2]

In [11]:
products.isnull().sum()

id_prod    0
price      0
categ      0
dtype: int64